<!--
<div class="profile-header margin-top20"> Réseau <span class="badge">224</span>

  &lt;!&ndash;<div class="btn-group btn-group-xs pull-right">&ndash;&gt;
    &lt;!&ndash;<button class="btn btn-default">Show all</button>&ndash;&gt;
  &lt;!&ndash;</div>&ndash;&gt;
</div>
<div class="row">

  &lt;!&ndash;Tiny User Block&ndash;&gt;
  <div class="col-md-4 col-sm-6">
    <div class="tiny-user-block clearfix">
      <div class="user-img"><img src="http://placehold.it/150x150" alt="User"></div>
      <h3>Gluck Dorris</h3>
      <ul>
        <li>Followers: <strong>1251</strong></li>
        <li>Following: <strong>1443</strong></li>
      </ul>
      <button class="btn btn-sm btn-success">Follow</button>
      <button class="btn btn-sm btn-warning">Unfollow</button>
    </div>
  </div>
  &lt;!&ndash;/Tiny User Block&ndash;&gt;

  &lt;!&ndash;Tiny User Block&ndash;&gt;
  <div class="col-md-4 col-sm-6">
    <div class="tiny-user-block clearfix">
      <div class="user-img"><img src="http://placehold.it/150x150" alt="User"></div>
      <h3>Spiderman</h3>
      <ul>
        <li>Followers: <strong>151</strong></li>
        <li>Following: <strong>224</strong></li>
      </ul>
      <button class="btn btn-sm btn-success">Follow</button>
      <button class="btn btn-sm btn-warning">Unfollow</button>
    </div>
  </div>
  &lt;!&ndash;/Tiny User Block&ndash;&gt;

  &lt;!&ndash;Tiny User Block&ndash;&gt;
  <div class="col-md-4 col-sm-6">
    <div class="tiny-user-block clearfix">
      <div class="user-img"><img src="http://placehold.it/150x150" alt="User"></div>
      <h3>Barack Muchu</h3>
      <ul>
        <li>Followers: <strong>235</strong></li>
        <li>Following: <strong>244</strong></li>
      </ul>
      <button class="btn btn-sm btn-success">Follow</button>
      <button class="btn btn-sm btn-warning">Unfollow</button>
    </div>
  </div>
  &lt;!&ndash;/Tiny User Block&ndash;&gt;

  &lt;!&ndash;Tiny User Block&ndash;&gt;
  <div class="col-md-4 col-sm-6">
    <div class="tiny-user-block clearfix">
      <div class="user-img"><img src="http://placehold.it/150x150" alt="User"></div>
      <h3>Piggy Muppet</h3>
      <ul>
        <li>Followers: <strong>451</strong></li>
        <li>Following: <strong>1778</strong></li>
      </ul>
      <button class="btn btn-sm btn-success">Follow</button>
      <button class="btn btn-sm btn-warning">Unfollow</button>
    </div>
  </div>
  &lt;!&ndash;/Tiny User Block&ndash;&gt;

  &lt;!&ndash;Tiny User Block&ndash;&gt;
  <div class="col-md-4 col-sm-6">
    <div class="tiny-user-block clearfix">
      <div class="user-img"><img src="http://placehold.it/150x150" alt="User"></div>
      <h3>Chewbacca</h3>
      <ul>
        <li>Followers: <strong>678</strong></li>
        <li>Following: <strong>1304</strong></li>
      </ul>
      <button class="btn btn-sm btn-success">Follow</button>
      <button class="btn btn-sm btn-warning">Unfollow</button>
    </div>
  </div>
  &lt;!&ndash;/Tiny User Block&ndash;&gt;

  &lt;!&ndash;Tiny User Block&ndash;&gt;
  <div class="col-md-4 col-sm-6">
    <div class="tiny-user-block clearfix">
      <div class="user-img"><img src="http://placehold.it/150x150" alt="User"></div>
      <h3>Piggy Muppet</h3>
      <ul>
        <li>Followers: <strong>4519</strong></li>
        <li>Following: <strong>44</strong></li>
      </ul>
      <button class="btn btn-sm btn-success">Follow</button>
      <button class="btn btn-sm btn-warning">Unfollow</button>
    </div>
  </div>
  &lt;!&ndash;/Tiny User Block&ndash;&gt;

</div>-->
