<div class="factage-block block">
  <h2 class="h2_home">Rejoignez la communauté</h2>


  <%= render partial: 'users/user_block', locals: {users: User.limit(6)} %>
  <a href="/community" class="btn btn-default see-all btn-see-all">
    > Voir tous
  </a>

</div>