<h1>Evènements</h1>
<%= link_to 'Nouvel évènement', new_event_path, class: 'btn btn-default' %>

<div class=" frontend" id="activ-boost-home" style="background-color: #888">
  <div>
    <div class="main-page-blog-posts block">
      <h2 class="h2_home" style="color: white;">
        Tous les Evènements
      </h2>
      <% Event.all.each do |e| %>
          <%= render partial: 'events/event', locals: {event: e} %>
      <% end %>

      <div class="clearfix"></div>
    </div>

  </div>

</div>

