<div class="onlyadmin border">
  Infos admin:
  <ul>
    <li>Tous les liens vers les pages wiki doivent commencer par <b>/wiki</b>. Par exemple:
      /wiki/astuces-contre-la-depression
    </li>
    <li>Pour créer une nouvelle page, commencer par créer le lien ici. Puis cliquer visu "Normal" en bas à droite,
      puis cliquer le lien
    </li>
    <li>
      Pour modifier le texte d'un lien: modifier le texte à l'intérieur du lien. Ou alors: supprimer le lien, changer le texte,
      sélectionner le texte, cliquer sur l'icône pour créer un lien, et ré-entrer /wiki/lien.
    </li>
  </ul>

</div>

<div class="container frontend">
  <div class="editable" data-page-id="<%= @wiki_page.id %>">
    <%= @wiki_page.content && @wiki_page.content.html_safe %>
  </div>
  <%= render partial: 'comments/comments', locals: {commentable: @wiki_page} %>
</div>


