<div class="frontend">


  <div class="row">
    <div class="clearfix"></div>
    <%= render partial: 'shared/community_block' %>
    <div class="clearfix"></div>


  </div>
</div>

<div class=" frontend" id="activ-boost-home">
  <div>
    <!--Latest Blog-->
    <div class="main-page-blog-posts block">
      <h2 class="h2_home" style="color: white;">
        Participez aux prochains Evènements
      </h2>
      <!--Blog Post-->
      <% Event.future.limit(9).all.each do |e| %>
          <%= render partial: 'events/event', locals: {event: e} %>
      <% end %>

      <a href="/events" class="btn btn-default see-all btn-see-all">
        > Voir tous
      </a>

      <div class="clearfix"></div>
    </div>
    <!--/Latest Blog-->

  </div>

</div>
