#iron-router-progress {
    background-color: #66CEE9;
}

#activ-boost-home {
    background-color: rgb(0, 169, 220);
    margin-top: 20px;
}

.blog-post-short {
    padding: 10px;
    background-color: white;
    margin-bottom: 30px;
}

#main-content .h2_home {
    letter-spacing: 1px;
    font-size: 25px;
    margin-top: 23px;
    margin-bottom: 23px
}

.alert {
    margin-bottom: 12px;
}

.alert:last-child {
    margin-bottom: 0px;
}

.frontend {
    background: #fff;
    margin-top: 0;
    padding: 25px;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 0;
}

.content-right {
    background-color: #33383d;
    border-radius: 3px;
    padding: 15px;
}

.navbar {
    min-height: 60px;
    padding: 7px;
}

.container {
    width: auto !important;
}

/*.container2 {*/
/*background: #fff;*/
/*margin-top: 0;*/
/*padding: 25px;*/
/*border-radius: 3px;*/
/*padding-top: 10px;*/
/*padding-bottom: 0;*/
/*}*/
.grey {
    color: #dddddb;
}

.alert-container {
    margin-right: 15px;
    margin-left: 15px;
    padding: 0
}

.bold-text {
    font-weight: 700;
    margin-top: 10px;
    line-height: 1em;
    text-shadow: 0 0 1px rgba(51, 51, 51, .2);
    font-size: 15px;
}

.admin_box {
    position: fixed;
    right: 16px;
    bottom: 2px;
    overflow: auto;
    max-height: 75px;
    width: 250px;
    z-index: 1000;
    /*border: 1px solid red;*/
    box-shadow: 0px 0px 0px 1px red;
    border-radius: 3px;
    background-color: white;
}

.admin_box .metas b {
    line-height: 25px;
}

.btn-micro {
    padding: 0 5px;
}

#admin_collapse {
    display: none;
}

.aloha-editable {
    outline: #FFE767 solid 5px !important;
}

.aloha-link-text {
    cursor: pointer !important;
}

.onlyadmin {
    display: none;
}

body[data-admin=true] .onlyadmin {
    display: block;
}

body[data-admin=true] .onlyadmin.border {
    border: 1px dotted #ff0a00;
    border-radius: 4px;
    padding: 5px;
}

body[data-admin=true] .onlyadmin.margin5 {
    margin: 5px;
}

body[data-admin=true] .onlyadmin {
    border: none
}

.img-left {
    float: left;
    margin: 10px 25px 10px 25px;
    max-width: 50%;
}

.btn-grey {
    color: #fff;
    border: 0;
    background-color: #c0c2c7;
    border-color: #c0c2c7;
}

.callout-success {
    background-color: #e4f6ea;
    border-color: #6cc479;
}

.callout-success:before {
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
    background: #6cc479;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    text-align: center;
    height: 40px;
    font-size: 2.52em;
    font-family: 'FontAwesome';
    content: "✓";
}

/*chat window*/
.chat-window {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right: 250px;
    width: 350px;
    /*max-height: 400px;*/
    border-radius: 1px;
    box-shadow: 0px 0px 0px 7px #444;
    /*overflow: auto;*/
}

.chat-messages {
    width: 350px;
    max-height: 250px;
    overflow: auto;
}

.chat-container {
    background: #cacac8;
}

.chat-messages-with-sidebar {
    margin-left: 0px !important;
}

.chat-messages li.left .chat-body :before, .chat-messages li.right .chat-body :after {
    top: 24px !important;
}

.top-buttons {
    padding-left: 15px !important;
}

.btn-see-all {
    float: right;
    margin: 10px 15px 15px 15px;
}