// Place all the styles related to the attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.attend-btn-cancel {
  color: #EEE;
  font-size: 14px;
  padding: 6px;
  margin: -4px;
  cursor: pointer;
}
.attend-btn-cancel:hover {
  color: white;
}
.btn-event + .btn-event {
  margin-bottom: 10px;
}