// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-author {
  padding: 25px 20px;
  background: #dddddb;
  margin-top: 25px;
  margin-bottom: 0;
}
.blog-author img {
  width: 80px;
}